<footer class="site-footer">

  <div class="wrapper">

    <!-- Basic Info and Links -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ site.basurl }}/blog/">View Blog</a></li>
          <li><a href="{{ site.subscribe_rss }}">Subscribe to Blog</a></li>
          <li><a href="{{ site.baseurl }}/projects/">Project Index</a></li>
          <li><a href="{{ site.baseurl }}/contact/">Contact Us</a></li>
          <li>&copy; Panthera Sciences</li>
        </ul>
      </div>

      <!-- Panthera Profile Links -->
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">

          <!-- Flickr Profile Link -->
          {% if site.flickr_username %}
          <li>
            {% include icon-flickr.html username=site.flickr_username %}
          </li>
          {% endif %}

          <!-- Twitter Profile Link-->
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          <!-- GitHub Profile Link-->
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

        </ul>
      </div>

    </div>

  </div>

</footer>
